




.goWorkClass {
    width: 172px;
    height: 110px;
    border-radius: 3px 3px 0px 0px;
}
.marginBottomGW {
    margin-bottom: 10px;
}
.marginLeftGW {
    margin-left: 10px;
}
.marginRightGW {
    margin-right: 10px;
}
.goWorkerFont {
	font: 14px "Helvetica Neue",Arial,Helvetica,sans-serif;
	font-weight:bold;
}
.containerGW {
	width: 172px;
	background-color: #ffffff;
    transition: 0.5s;
}
.inlineGW {
	display: inline-block;
}
.blockGW {
	display: block;
}
.linkGW {
    color: #7c8083;
    background-color: #ffffff;
    transition: 0.5s;
}
.linkClassGW {
}
.linkClassGW:hover .containerGW {
	background-color: #e6e6e6;
	color: #4a4c4f;
}
.linkClassGW:hover .linkGW {
	background-color: #e6e6e6;
	color: #4a4c4f;
}
.paddingTextGW {
	padding: 5px 0px;
}
.divShadowGW {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
}
.js-plugin-sections {
	padding-bottom: 20px;
}
.containerTextGW {
	padding: 0px 10px;
}





